@import'./colores';

@mixin linkHover {
    
    color: $colorLinksHover;

}

/*Suscripción*/
#suscripcion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    border: 1px solid rgb(14, 14, 14);
    padding: 20px;
    background-color: $colorBackground;
    color: $colorLinksHover;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;

    a {
        @include fontStyle;
        transition: 2s;
        text-decoration: none;


        ;

        &:hover {

            @include linkHover;
            text-decoration: overline;
            
            
        }
    }
}

