@import'./colores';
/*formulario*/


.form__imagen {

    min-width: 200px;
    max-width: 400px;
    order: 2;
    margin: 0px auto;

    img {

        width: 200px;
        width: 60%;
        margin: 10px auto;
        border-radius: 50%;
        background-color: $colorBackground;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.1);

    }
}

.form__input {
    min-width: 25%;
    max-width: 600px;

    border-top: 3px rgb(92, 4, 4) solid;
    background: rgb(182, 179, 179);
    box-shadow: 5px 5px $colorBoxShadow;
    flex-wrap: wrap;

    &:focus {
        background-color: $colorBackgroundFocus;
        border-top: 3px rgb(0, 0, 0) solid;
    }
}

.form__comentarios {


    min-width: 30%;
    max-width: 600px;
    background: rgb(182, 179, 179);
    border-top: 3px rgb(92, 4, 4) solid;
    box-shadow: 5px 5px $colorBoxShadow ;
    resize: none;
    flex-wrap: wrap;
    margin: 10px;


    &:focus {
        background-color: $colorBackgroundFocus;
        border-top: 5px rgb(0, 0, 0) solid;
    }
}

.form__select {

    min-width: 25%;
    max-width: 600px;
    margin: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    background: rgb(185, 184, 184);
    border-top: 3px rgb(92, 4, 4) solid;
    flex-wrap: wrap;



    &:focus {
        background-color: $colorBackgroundFocus;
        border-top: 3px rgb(0, 0, 0) solid;
    }
}

label.form-label {
    color: $colorLetras;
    text-align: center;
}

.form__email,
.form__text-area,
.form__nombre,
.boton__enviar {
   
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}